body {
}

p {
    font-family: Consolas;
    text-wrap: normal;
    color: #0094ff;
}

@font-face {
    font-family: Edwardian Script ITC;
    src: url(edwardian-script-itc-1361504162.ttf);
}

p::first-letter {
    font-family: 'Edwardian Script ITC';
    font-size: 50px;
}

p::first-line {
    font-weight: bold;
}
